<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "es" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ if .Site.Title }}
      <title>
        {{ .Site.Title }}
      </title>
    {{ end }}
    <link rel="shortcut icon" href="/{{ .Site.Params.favicon }}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{{ .Site.BaseURL }}/images/icon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700|Roboto:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/styles.css">
  </head>
  <body>
    {{ partial "menu.html" .}}
    <section id="content" class="content">
      {{ block "header" . }}{{ partial "header.html" .}}{{ end }}
      <main id="main" class="main" role="main">
        {{ block "main" . }}{{ end }}
      </main>
      {{ block "footer" . }}{{ partial "footer.html" . }}{{ end }}
    </section>
    {{ block "scripts" . }}{{ partial "scripts.html" . }}{{ end }}
  </body>
</html>
