{{ define "main" }}
  <div class="post single">
      <article class="article">
          <div id="push">
              <header class="post-header">
              {{ if ne .Type "page" }}
                <span class="post-meta">
                    <span class="post-date">{{ .Date.Format "2 Jan 2006" }}</span> <span class="reading-time">| <span class="estimated-reading-time">{{ .ReadingTime }} min.</span> (<span class="word-count">{{ .WordCount }}</span> words)</span></span>
                </span>
              {{ end }}
              <h1 class="post-title">{{ .Title }}</h1>
            </header>
            <section class="post-content">
                {{ .Content }}
            </section>
          </div>
          <nav class="post-nav">
            <div>
              {{ if .NextInSection }}
              <a class="post-nav-item post-nav-next" href="{{ .NextInSection.Permalink }}">
                  <section class="post-nav-teaser">
                      <span class="post-nav-icon">
                        <img src="/images/back-arrow.svg" alt="Back" width="10" height="10">
                      </span>
                      <span class="post-nav-info">
                          <span class="post-nav-title">{{ .NextInSection.Title }}</span>
                      </span>
                  </section>
              </a>
              {{ end }}
            </div>
            <div>
              {{ if .PrevInSection }}
              <a class="post-nav-item post-nav-prev" href="{{ .PrevInSection.Permalink }}">
                  <section class="post-nav-teaser">
                      <span class="post-nav-info">
                          <span class="post-nav-title">{{ .PrevInSection.Title }}</span>
                      </span>
                      <span class="post-nav-icon">
                        <img src="/images/next-arrow.svg" alt="Next" width="10" height="10">
                      </span>
                  </section>
              </a>
              {{ end }}
            </div>
          </nav>
      </article>
      <aside class="aside">
        {{ with .Params.categories }}
        <h4>Categories</h4>
        <ul id="categories" class="tags">
          {{ range . }}
            <li><a href="{{ "categories" | absURL}}/{{ . | urlize }}">{{ . }}</a> </li>
          {{ end }}
        </ul>
        {{ end }}
        {{ with .Params.tags }}
        <h4>Tags</h4>
        <ul id="tags" class="tags">
          {{ range . }}
            <li> <a href="{{ "tags" | absURL }}/{{ . | urlize }}">{{ . }}</a> </li>
          {{ end }}
        </ul>
        {{ end }}
        {{ with .Params.topics }}
        <h4>Topics</h4>
        <ul id="topics" class="tags">
          {{ range . }}
            <li><a href="{{ "topics" | absURL}}/{{ . | urlize }}">{{ . }}</a> </li>
          {{ end }}
        </ul>
        {{ end }}
      </aside>
  </div>
{{ end }}
