<nav class="header-menu">
  <a href="" id="header-menu-btn" class="header-menu-btn">
    <img src="/images/icon-menu.svg" alt="Menu" width="31" height="24">
  </a>
  <ul id="header-menu-panel" class="header-menu-panel">
    <li>
      <a href="/about-us.html">
        About us
      </a>
    </li>
    <li>
      <a href="/xLab.html">
        xLab
      </a>
    </li>
    <li>
      <a href="/categories">
        Categorias
      </a>
    </li>
    <li>
      <a href="/tags">
        Tags
      </a>
    </li>
    <li>
      <a href="/search.html">
        Search
      </a>
    </li>
  </ul>
</nav>